<style type="text/css">
	table, td {
	  border:1px solid black;
	}
</style>

<table>
	<tr>
		<td><strong>id</strong></td>
		<td><%= product._id %></td>
	</tr>
	<tr>
		<td><strong>name</strong></td>
		<td><%= product.name %></td>
	</tr>
	<tr>
		<td><strong>price</strong></td>
		<td><%= product.price %></td>
	</tr>
	</table>